* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.body-bg {
  background-color: black;
}

.theme-btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid salmon;
}

.theme-btn:hover {
  cursor: pointer;
}

.container {
  min-height: 700px;
  width: 80vh;
  max-width: 800px;

  background-color: white;
  color: black;

  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.container.dark {
  background-color: black;
  color: white;
  --shadow: 0 5px 10px rgba(245, 244, 244, 0.5);
}

.todo-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-count {
  height: 100px;
  width: 100px;
  border: 1px solid salmon;
  border-radius: 50%;
}

.task-num {
  font-size: 2rem;
}

.task-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-task-input {
  display: flex;
  justify-content: space-between;
}

.filter-task {
  display: flex;
  gap: 30px;
}

.task {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.task-input {
  width: 80%;
  padding: 10px;
  outline: none;
  border: 2px solid rgb(233, 228, 228);
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgb(80, 78, 78);
  background-color: white;
}

.container.dark .task-input {
  background-color: #222;
  color: white;
  border-color: #555;
}

.add-task-btn {
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
}

.add-task-btn:hover {
  cursor: pointer;
}

.display-task {
  width: 100%;
}

.filter {
  display: flex;
  gap: 50px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.task-ul {
  padding: 0;
  height: 500px;
  overflow: auto;
}

.each-task {
  border: 2px solid rgb(233, 228, 228);
  list-style-type: none;
  padding: 15px;
  font-size: 1.3rem;
  border-bottom: none;
  border-radius: 5px;
}

.container.dark .each-task {
  border-color: #666;
}

.task-ul li:last-child {
  border-bottom: 2px solid rgb(233, 228, 228);
}

.container.dark .task-ul li:last-child {
  border-bottom-color: #666;
}

.each-task-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each-task-article button {
  border: none;
  background-color: white;
}

.container.dark .each-task-article button {
  background-color: black;
  color: white;
}

.div-checkbox {
  display: flex;
  gap: 10px;
}

.div-edit-del {
  display: flex;
  gap: 20px;
}

.container.dark input[type="checkbox"],
.container.dark input[type="radio"] {
  accent-color: #4f9cff;
}

.pending {
  color: orange;
}

.completed {
  color: green;
}

.btn-delete,
.btn-edit,
.btn-checkbox:hover {
  cursor: pointer;
}
